ibapi
#tigeropen
pyqtgraph
psutil
tushare
pytz
numpy
pandas
seaborn
scipy
TA_Lib
mongoengine
QDarkStyle
simplejson
WMI
pymongo
plotly
pyecharts
tqdm
nose2
deap
requests
matplotlib
tzlocal
peewee
# rqdatac
click
Cython
dataclasses
joblib
pycryptodome
PyQt5
#pysendfile
pyxll
pyzmq
quickfix
trading_calendars
yappi
tzlocal
peewee
streamz
kafka-python
mashumaro
#pysendfile
QScintilla